@import "../../../../assets/scss/defaults/colors.scss";
.checkbox__wrapper {
  position: relative;

  width: 16px;
  height: 16px;

  cursor: pointer;

  .app-checkbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkbox__checkmark:after {
      transform: translate(-50%, -50%) scale(1);
    }

    &:focus-visible ~ .checkbox__checkmark {
      outline: 2px solid $primary;
      outline-offset: 2px;
      border-radius: 2px;
    }
  }

  .checkbox__checkmark {
    display: block;
    position: absolute;
    inset: 0;
    background-color: $primary;

    &::after {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      width: 12px;
      height: 12px;

      background-color: $primary;
      filter: brightness(0.6);
      border-radius: 2px;

      transform: translate(-50%, -50%) scale(0);
      transition: all ease 200ms;
    }
  }

  &:hover > .checkbox__checkmark:after {
    transform: translate(-50%, -50%) scale(1);
  }
}
