@import "../../../../assets/scss/defaults/colors.scss";
.checkbox__wrapper {
  position: relative;

  width: 16px;
  height: 16px;

  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox__checkmark {
    display: block;
    position: absolute;
    inset: 0;
    background-color: $primary;
  }

  .checkbox__checkmark:after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 12px;
    height: 12px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;

    transform: translate(-50%, -50%) scale(0);
    transition: all ease 200ms;
  }

  input[type="checkbox"]:checked ~ .checkbox__checkmark:after,
  &:hover > .checkbox__checkmark:after {
    transform: translate(-50%, -50%) scale(1);
  }
}
