$fade-duration: 1s;

.full-screen-slider__image-wrapper {
  .full-screen-slider__image {
    position: absolute;

    height: 100%;
    width: 100%;

    opacity: 0;

    transition: opacity ease-in-out $fade-duration;

    &[data-visible="true"] {
      opacity: 1;
    }
  }
}
