$primary: rgba(255, 180, 29, 1);
$secondary: rgba(232, 232, 232, 1);
$secondary-opacity: rgba(232, 232, 232, 0.95);

$submit: rgba(243, 173, 59, 1);
$lighteen-text: rgba(255, 255, 255, 1);

$text: rgba(0, 0, 0, 1);
$text-opacity: rgba(0, 0, 0, 0.5);
