@import "../defaults/colors.scss";
@import "../defaults/breakpoints.scss";

#empreendimento {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (width < $md) {
    grid-template-columns: 1fr;

    min-height: max-content;
  }

  min-height: 100svh;

  .empreendimento__content-wrapper {
    @media (width < $sm) {
      .empreendimento__title {
        padding-inline-start: 16px;
      }
    }

    flex-grow: 1;

    overflow: hidden;

    article {
      margin-top: 12px;
      max-width: 424px;
      margin-inline: auto;

      @media (width < $xs) {
        padding-inline: 16px;
      }
    }
  }

  .pictures {
    flex-grow: 1;
    position: relative;

    @media (width < $md) {
      display: none;
    }
  }
}
