@import "../defaults/colors.scss";

#empreendimento {
  display: flex;
  gap: 24px;
  min-height: 100svh;

  main {
    max-width: 630px;
    flex-grow: 1;

    overflow: hidden;

    article {
      margin-top: 12px;
      max-width: 424px;
      margin-inline: auto;
    }
  }

  .pictures {
    flex-grow: 1;

    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
