@import "../../../../assets/scss/defaults/breakpoints.scss";

.button-list__button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 96px;
  max-height: 50px;

  padding-inline: 24px;

  background-image: url("../../../../assets/images/icons/losangulo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
  }

  @media (width <= $sm) {
    padding-inline: 16px;
    padding-inline: 16px;
    img {
      min-width: 36px;
      width: 36px;
      min-height: 36px;
      height: 36px;
    }
  }
}
