.button-list__button-icon {
  display: inline-block;
  max-width: 96px;
  max-height: 50px;

  padding-inline: 24px;

  background-image: url("../../../../assets/images/icons/losangulo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
