@import "../../../assets/scss/defaults/colors.scss";
@import "../../../assets/scss/defaults/breakpoints.scss";

.button-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (width < $md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;

    margin-top: 32px;
  }

  .button-list__content-wrapper {
    & + .button-list__content-wrapper {
      margin-block-start: 32px;

      @media (width < $md) {
        margin-block-start: 0;
      }
    }

    transition: all ease 200ms;

    .button-list__button {
      display: flex;
      align-items: center;
      gap: 24px;

      @media (width <= $sm) {
        gap: 8px;
      }
      width: 100%;

      padding: 0;

      background-color: transparent;
      border: none;

      cursor: pointer;

      span {
        display: inline-block;
      }

      .button-list__button-text {
        text-align: start;
      }

      @media (width > $sm) {
        &:not(:hover) {
          .button-list__button-icon {
            background-image: url("../../../assets/images/icons/losangulo_hover.svg");
          }

          .button-list__button-text {
            color: $gray;
          }
        }
      }

      &.button-list__button--active {
        .button-list__button-icon {
          background-image: url("../../../assets/images/icons/losangulo.svg");
        }

        .button-list__button-text {
          color: $text;
        }
      }
    }
  }
}
