@import "../../scss/defaults/colors.scss";
@import "../../scss/defaults/breakpoints.scss";

#localizacao {
  position: relative;

  display: flex;

  @media (width < $md) {
    display: grid;
    grid-template-rows: min-content max-content;
    gap: 32px;

    min-height: max-content;
  }

  min-height: 100svh;

  .localizacao__content-wrapper {
    flex-grow: 2;
    max-width: 630px;

    @media (width < $md) {
      max-width: unset;

      .localizacao__title {
        padding-inline-start: 16px;
      }
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 2fr;

    .localizacao__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      padding-block-start: 32px;
      padding-inline: 64px;

      @media (width < $md) {
        padding-inline: 24px;
      }

      @media (width < 375px) {
        padding-inline: 0;
      }
    }
  }

  .localizacao__right {
    position: relative;
    flex-grow: 1;

    .localizacao__banner {
      height: 100%;
    }

    @media (width < 375px) {
      .localizacao__banner {
        width: clamp(320px, 100%, 375px);
      }
    }

    .localizacao__right-floating_button {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;

      transform: scale(0);

      transition: all ease 200ms;
      &.localizacao__right-floating_button--active {
        transform: scale(1);
      }
    }
  }
}
