@import "../../../../assets/scss/defaults/text.scss";
@import "../../../../assets/scss/defaults/colors.scss";

.button {
  display: block;

  width: 100%;

  padding: 16px 32px;

  font-size: $body;

  background-color: $secondary;
  color: $text;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: background-color ease 200ms, color ease 200ms, filter ease 200ms;

  &:hover {
    filter: brightness(0.8);
  }

  &.button__active {
    background-color: $primary;
  }
}
